@charset "utf-8";
/* CSS Document */


.let_us_epay_register{
	-moz-box-shadow: inset 0px 1px 0px 0px #ddedbd;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ddedbd;
	box-shadow: inset 0px 1px 0px 0px #ddedbd;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8eb73c
		), color-stop(1, #425c11) );
	background: -moz-linear-gradient(center top, #8eb73c 5%, #425c11 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8eb73c',
		endColorstr='#425c11' );
	background-color: #8eb73c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #304606;
	display: inline-block;
	color: #ffffff;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	width:120px;
	font-weight: normal;
	padding: 2px 2px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #2c3d0d;
	margin: 3px 4px 0 0;
}
.let_us_epay_register:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #425c11
		), color-stop(1, #8eb73c) );
	background: -moz-linear-gradient(center top, #425c11 5%, #8eb73c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#425c11',
		endColorstr='#8eb73c' );
	background-color: #425c11;
}

.let_us_epay_register:active {
	position: relative;
	top: 1px;
}

.let_us_epay_register_small {
	-moz-box-shadow: inset 0px 1px 0px 0px #ddedbd;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ddedbd;
	box-shadow: inset 0px 1px 0px 0px #ddedbd;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8eb73c
		), color-stop(1, #425c11) );
	background: -moz-linear-gradient(center top, #8eb73c 5%, #425c11 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8eb73c',
		endColorstr='#425c11' );
	background-color: #8eb73c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #304606;
	display: inline-block;
	color: #ffffff;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	width:300px;
	font-weight: normal;
	padding: 5px 5px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #2c3d0d;
	margin: 5px 4px 0 0;
}


.let_us_epay_register_small:active {
	position: relative;
	top: 1px;
}
.let_us_epay_register_select_small {
	-moz-box-shadow: inset 0px 1px 0px 0px #ddedbd;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ddedbd;
	box-shadow: inset 0px 1px 0px 0px #ddedbd;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8eb73c
		), color-stop(1, #425c11) );
	background: -moz-linear-gradient(center top, #8eb73c 5%, #425c11 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8eb73c',
		endColorstr='#425c11' );
	background-color: #8ebF3c;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #304606;
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	padding: 5px 5px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #2c3d0d;
	margin: 5px 4px 0 0;
}

.let_us_epay_register_select_small:active {
	position: relative;
	top: 1px;
}
