/* blue */
#page_bg {
	background: #0C3A6D;
}

div#wrapper {
		background: #f7f7f7 url(mw_shado.png) 0 0 repeat-y;
}

div#wrapper_r {
	background: url(mw_shadp.png) 100% 0 repeat-y;
}

div#header {
	background: url(mw_headh.png) 0 0 repeat-x;
}

div#header_l {
	background: url(mw_headi.png) 0 0 no-repeat;
}

div#header_r {
	background: url(mw_headj.png) 100% 0 no-repeat;
}

div#footer {
	background: #f7f7f7 url(mw_foote.png) 0 100% repeat-x;
}

div#footer_l {
	background: url(mw_footf.png) 0 0 no-repeat;
}

div#footer_r {
	background: url(mw_footg.png) 100% 0 no-repeat;
}