/*photogallery*/
body{margin:0;padding:0;}
a img {border:0px;padding:0;margin:0;}

.phocagallery-box-file
{
position:relative;
float:left;
width:120px;
height:140px;

padding:5px;

margin:5px;
text-align:center;
overflow:visible;
}
.phocagallery-box-file-first
{

width:100px;height:100px; overflow: hidden;
display: table; vertical-align:middle;
}

.phocagallery-box-file-second
{
display: table-cell; vertical-align: middle;
}

.phocagallery-box-file-third
{
	text-align:center;
}


#phocagallery a img
{
	border: 0px;
}

#phocagallery a:hover, #phocagallery a:active, #phocagallery a:focus
{
	background: none;border:0px;text-decoration:none;
}

#phocagallery .name{margin-top:5px;color:#135cae;font-style:italic;font-weight:bold;text-align:center;}
#phocagallery .detail{text-align:right;}

.phocagallery-box-file:hover, .phocagallery-box-file.hover 
{
	border:1px solid #135cae;padding:5px;background:#f5f5f5;text-decoration:none;
}

/*detail*/
.phocagallery-box-file-d
{
position:relative;
float:left;
border:1px solid #E8E8E8;
background:#fcfcfc;
text-align:center;
overflow:visible;
width:640px;
height:480px;
}
.phocagallery-box-file-first-d
{
background:#f5f5f5;
width:640px;height:480px; overflow: hidden;
display: table; vertical-align:middle;
}

/*download message*/
#download-msg{
font-family:sans-serif;
font-size:83%;
position:absolute;
left: 10%;
top:10%;
background-color: #ebecff;
border: 5px solid #cccccc;
filter:alpha(opacity=80);
opacity: 0.8;
-moz-opacity:0.8;
z-index:1000;
}
	
/*download message text*/ 
#download-msg div table{ 
	padding: 10px; 
	filter:alpha(opacity=100); 
	opacity: 0.8; 
	-moz-opacity:0.8; 
	position: relative; 
	z-index:1000; 
	background-color:#ebecff; 
} 
#download-msg div table tr td, 
#download-msg div table tr td small, 
#download-msg a { 
	color:#000000; 
	font-weight: bold; 
}

#phocagallery .main-switch-image {
	margin:0px;padding:7px 5px 7px 5px;margin-bottom:15px;
}
#phocagallery .main-switch-image-table {
	border:1px solid #c2c2c2;
}