div.warning {
    margin:             0.5em 0 0.5em 0;
    border:             0.1em solid #CC0000;
    width:              90%;
    background-image:   url(../imp_img/err.png);
    background-repeat:  no-repeat;
    background-position: 10px 50%;
    padding:            10px 10px 10px 36px;
	text-align:center;
	color:#FFFFFF;
            }
#Layer1 {	position:absolute;
	width:29px;
	height:95px;
	z-index:1;
	left: 43px;
	top: 164px;
}
.style13 {color: #00CC33}
.blue{
border-right:2px solid #6600CC;
border-left:2px solid #6600CC; 
border-top:2px solid #6600CC; 
border-bottom:2px solid #6600CC;
padding:0; font-size:12pt;
color:#6600CC;
background:#FFFFFF;
}
.green{
border-bottom:hidden;
border-top:hidden;
border-left:hidden;
border-right:hidden;
border-right:0px solid #FFFFFF;
border-left:0px solid #FFFFFF;
border-top:0px solid #FFFFFF;
border-bottom:0px solid #FFFFFF;
padding:0; font-size:12pt;
background:#FFFFFF;
color:#FF0000;
}
div.att {
    margin:             0.5em 0 0.5em 0;
    border:             0.1em solid #00FF00;
    width:              90%;
    background-image:   url(../imp_img/ok.png);
    background-repeat:  no-repeat;
    background-position: 10px 50%;
    padding:            10px 10px 10px 36px;
		text-align:center;
			color:#00FF00;

            }
div.atten {
    margin:0.5em 0 0.5em 0;
    border:0.1em solid #00FF00;
    width:90%;
    background-image:url(../imp_img/ok.png);
    background-repeat:no-repeat;
    background-position:10px 50%;
    padding:10px 10px 10px 36px;
	text-align:center;
	color:#00FF00;

}